---
import Container from '@/components/container.astro';
import Link from '@/components/ui/link.astro';
import { Picture } from 'astro:assets';
import Logo from '@/assets/logo.png';
import Dropdown from './dropdown.astro';
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';

interface MenuItem {
  title: string;
  path: string;
}

interface MenuItemProps extends MenuItem {
  children?: MenuItem[];
}

const menuitems: MenuItemProps[] = [
  {
    title: 'Inicio',
    path: '/',
  },
  {
    title: 'Tarifas',
    path: '/pricing',
  },
  {
    title: 'Nosotros',
    path: '/about',
  },
  {
    title: 'Portafolio',
    path: '/blog',
  },
  {
    title: 'Contacto',
    path: '/contact',
  },
];

const { pathname } = Astro.url;
---

<Container>
  <header
    id='main-header'
    class='max-w-7xl fixed end-0 left-0 top-0 right-0 z-50 w-full bg-white transition-transform duration-300 flex flex-col lg:flex-row py-5 mx-auto px-5 justify-between items-center rounded-lg'>
    <Astronav>
      <div class='flex w-full lg:w-auto items-center justify-between'>
        <a href='/' class='text-lg flex justify-between gap-1 items-center'>
          <div>
            <span>
              <Picture
                src={Logo}
                alt='Astronaut in the air'
                width={28}
                loading='eager'
                format='avif'
              />
            </span>
          </div>
          <div>
            <span class='font-bold text-slate-800'
              >Nexus<span class='text-slate-500'>BS</span></span
            >
          </div>
        </a>

        <div class='block lg:hidden'>
          <MenuIcon class='w-4 h-4 text-gray-800' />
        </div>
      </div>
    </Astronav>
    <MenuItems class='hidden w-full lg:w-auto mt-4 lg:flex lg:mt-0'>
      <ul class='flex flex-col lg:flex-row lg:gap-3 text-center'>
        {
          menuitems.map((item, index) => {
            const isActive = ['', item.path].find(
              (e) => e === pathname.slice(0)
            )
              ? 'active'
              : '';

            return (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class={`"flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900" ${isActive}`}>
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            );
          })
        }
      </ul>
    </MenuItems>
  </header>
</Container>

<style>
  .active {
    font-weight: bolder;
  }

  .navbar-hidden {
    transform: translateY(-150%);
  }
</style>

<script>
  const header = document.getElementById('main-header');

  console.log(header);
  if (header) {
    let lastScrollY = window.scrollY;
    const headerHeight = header.offsetHeight;

    window.addEventListener('scroll', () => {
      const currentScrollY = window.scrollY;

      if (currentScrollY <= headerHeight) {
        header.classList.remove('navbar-hidden');
        lastScrollY = currentScrollY;
        return;
      }

      if (currentScrollY > lastScrollY) {
        header.classList.add('navbar-hidden');
      } else {
        header.classList.remove('navbar-hidden');
      }

      lastScrollY = currentScrollY;
    });
  }
</script>
